# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log
